.order{
    margin: 20px 0 40px 0;

    &__row{
        display: flex;
        gap: 0 20px;
    }
   
    &__left{
      flex-grow: 1;
        .sneaker-info{
            display: none;
        }
       
    }

    &__right{
        flex-shrink: 0;
        max-width: 28%;
        height: fit-content;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 8px;
    }
    
    &__sneaker-img{
        // border: 1px solid;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 300px;
        border-radius: 8px;
        img{
            max-width: 100%;
            height:  auto;
        }
    }
    &__loading{
        min-height: 500px
    }
}


.sneaker{
    &-info{
        // border: 1px solid;
        margin-bottom: 20px;
        &__promo{
            font-size: 15px;
            color: var(--second-color);
            margin-bottom: 10px;
        }
        &__name{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 3px;
        }
        &__genre{
            font-size: 16px;
            margin-bottom: 5px;
        }
        &__price{
            display: flex;
            gap: 20px;
            font-size: 16px;
          
            &--old{
                text-decoration: line-through;
                font-size: inherit;
                color: rgba( #000000, .5);
            }
        }
    }
    &-preview{
        // border: 1px solid;
        margin-bottom: 30px;
        &__row{
            display: flex;
            gap:5px;
            flex-wrap: wrap;
        }
        &__img{
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: all 300ms;
            border: 1px solid transparent;
            border-radius:5px ;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
            &:hover,&.active{
                border: 1px solid black;
            }
            &.active{
                transition: all 300ms;
                &:hover{
                    border: 1px solid var(--second-color);
                }
            }
        }
    }
    &-size{
        // border: 1px solid;
        margin-bottom: 40px;
        &__title{
            font-weight: 500;
            margin-bottom: 10px;
        }
        &__row{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 8px;
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            border: 1px solid rgba(0, 0, 0,.2);
            border-radius: 5px;
            transition: all 300ms;
            cursor: pointer;
            &:hover{
                border: 1px solid black
            }
        }
    }
    &-buttons{
        // border: 1px solid ;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px 0;
        .button{
            width: 100%;
        }
    }
    &-description{
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 140%;
    }
    &-delivery{
        &__item{
            display: flex;
            align-items: center;
            gap: 0 20px;
            transition: all 300ms;
            padding: 3px;
            cursor: pointer;
            &+ &{
                margin-top: 10px;
            }
           &.active{
            box-shadow: 0 0 5px rgba( #000000, .7);
          
           }
           &:hover{
            box-shadow: 0 0 5px rgba( #000000, .7);
            padding: 3px;
           }
        }
        &__logo{
            padding: 2px;
            max-width:45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0,.1);
            border-radius:8px;
            img{
                height: 100%;
            }
        }
        &__name{
            font-weight: 500;
            font-size: 15px;
        }
    }
}

 .button{
    border: 1px solid rgba(95, 94, 94,.5);
    cursor: pointer;
    border-radius: 15px;
    &:hover{
        .button__text{
            color: var(--second-color);
        }
        .button__icon{
            svg path{
                stroke: var(--second-color);
            }
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        gap: 0 10px;
    }
    &__text{
        font-size: 16px;
        transition: all 300ms;
    }
    &__icon{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            display: inline-block;
            max-width: 100%;
            height: auto;
            transition: all 300ms;
            path{
                transition: all 300ms;
            }
        }
    }
    &--buy{
        background: #000;
        color: white;
    }
    &--like{
        transition: all 300ms;
        &:hover{
            border: 1px solid black;
        }
    }
    
}



@media screen and (max-width:768px) {
    .order{
        margin: 20px 0 40px 0;
        &__row{
            flex-direction: column;
            gap: 20px 0;
        }
      
        &__left{
          flex-grow: 1;
            .sneaker-info{
                display: block;
            }
           
        }
        &__right{
            .sneaker-info{
                display: none;
            }
            flex-shrink: unset;
            max-width: unset;
            height: fit-content;
        }
        &__scroll-grid{
            width: 100%;
            overflow-x: auto;
        }
        &__grid{
            display: flex;
            grid-template-columns: unset;
            gap: 8px;
        }
        &__sneaker-img{
            min-width: 310px;
            width: 100%;
            height: 300px;

            flex-shrink: 0;
            
        }
    } 

    .sneaker{
        &-preview{
            // border: 1px solid red;
            margin-bottom: 25px;
            &__scroll{
                width: 100%;
                overflow: auto;
                &::-webkit-scrollbar{
                    background: transparent;
                    height: 0!important;
                }
            }
            &__row{
                display: flex;
                gap: 0 5px;
                flex-wrap: nowrap;
            }
        }
        &-size{
            margin-bottom: 30px;
            &__item{
                height: 40px;
            }
        }
    }
}