.header {
  padding: 20px 0;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  margin-bottom: 20px;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__center {
  display: flex;
  align-items: center;
}
.header__product {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__product-icons {
  display: flex;
  align-items: center;
  gap: 0 18px;
}
.header__like, .header__card {
  position: relative;
  height: 24px;
  width: 24px;
}
.header__like-icon, .header__card-icon {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__like-icon:hover svg path, .header__card-icon:hover svg path {
  stroke: #B67C3F;
}
.header__like-icon svg path, .header__card-icon svg path {
  stroke: var(--main-color);
  transition: all 300ms;
}
.header__like-number, .header__card-number {
  position: absolute;
  top: -16px;
  right: -16px;
  padding: 5px;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 12px;
}
.header__user-out {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.header__connection {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  position: relative;
}
.header__connection a {
  flex-shrink: 0;
  color: var(--main-color);
  font-size: 16px;
  transition: all 300ms;
}
.header__connection a:hover {
  color: var(--second-color);
}
.header__connection a:not(:last-child) {
  position: relative;
}
.header__connection a:not(:last-child)::before {
  content: "|";
  position: absolute;
  display: block;
  font-size: 18px;
  right: -15px;
  top: -2px;
  color: var(--main-color);
}
.header__burger {
  display: none;
  width: 32px;
  height: 32px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  transition: all 300ms;
}
.header__burger:hover {
  border: 1px solid white;
  background: var(--second-color);
}
.header__burger:hover .header__burger-line {
  background: white;
}
.header__burger-line {
  width: 100%;
  height: 2px;
  background: var(--main-color);
  position: relative;
}
.header__burger-line::before, .header__burger-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: inherit;
}
.header__burger-line::before {
  top: -7px;
}
.header__burger-line::after {
  bottom: -7px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu__link {
  color: var(--main-color);
  position: relative;
  display: block;
  padding: 2px 0;
}
.menu__link-head {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__link-icon {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__link-icon svg path {
  transition: all 300ms;
}
.menu__link-text {
  font-size: 16px;
  font-style: normal;
  color: inherit;
  transition: all 300ms;
}
.menu__link:hover .menu__submenu {
  display: inline-block;
}
.menu__item {
  position: relative;
}
.menu__item--no-bar:hover::before {
  display: none !important;
}
.menu__item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: all 300ms;
}
.menu__item.active::before {
  width: 50%;
}
.menu__item:hover::before {
  width: 100%;
  background-color: var(--second-color);
}
.menu__item:hover .menu__link-text {
  color: var(--second-color);
}
.menu__item:hover .menu__link-icon svg path {
  stroke: var(--second-color);
}
.menu__item .menu__submenu {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 28px;
  padding: 10px;
  background: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--main-color);
}
.menu__item .menu__submenu-list {
  display: inline-flex;
  flex-direction: column;
  gap: 5px 0;
}
.menu__item .menu__submenu-item {
  padding: 0 5px;
  position: relative;
}
.menu__item .menu__submenu-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--second-color);
  transition: all 300ms;
}
.menu__item .menu__submenu-item:hover::before {
  width: 100%;
}
.menu__item .menu__submenu-item:hover a {
  color: var(--second-color);
}
.menu__item .menu__submenu-item a {
  font-size: 14px;
  color: var(--main-color);
  transition: all 300ms;
}
.menu__item:hover .menu__submenu {
  display: block;
}

@media screen and (max-width: 1200px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--light-color);
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  .header__top {
    gap: 0 20px;
    margin-bottom: 0;
  }
  .header__bottom {
    display: none;
  }
  .header__center {
    display: none;
  }
  .header__user-out {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}/*# sourceMappingURL=header.css.map */