.modal{
    width: 100%;
    height: 100vh;
    background:rgba( #000000,.6);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__content{
        border-radius: 18px;
        max-width: 700px;
        width: 100%;
        min-height: 400px;
        height: auto;
        background: white;
        position: relative;
        cursor: auto!important;
        position: relative;
        z-index: 100;
    }
    &__close-icon{
        position: absolute;
        right: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid red;
        cursor: pointer;
    }
    &__body{
        // border: 1px solid red;
        height: 100%;
        padding: 40px 20px ;
       
       
    }
}




@media screen and (max-width:768px) {
    .modal{
        &__container{
            padding: 0 10px;
        }

        &__content{
            max-width: 100%;
        }
    }
}