.catalog{
   
    &-page{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        
    }

    &-main{
        flex-grow: 1;
        margin-top: 20px;
        // border: 1px solid red;
    }
    &-head{
        display: flex;
        // align-items: center;
        justify-content: space-between;
        gap:0 40px
    }

    &-product{
        margin: 30px 0 40px;
   
        &__title{
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width:768px) {
    .catalog{
        &-head{
            flex-direction: column;
            gap: 20px;
        }
    }
}
