.filter{
    &__row{
        display: flex;
        gap: 10px 15px;
        flex-wrap: wrap;
    }

}


.item-filter{
    display: inline-flex;
    padding: 8px 15px;
    background-color: var(--light-color);
    color: var(--main-color);
    border-radius: 15px;
    border: 1px solid currentColor;
    font-size: 13px;
    transition: all 300ms;
    cursor: pointer;
    &.active{
        background-color: var(--main-color);
        color:white;
        transition: all 300ms;
    }

    @media screen and (min-width:1200px) {
        &:hover{
            background-color: var(--second-color);
            color:white;
            border: 1px solid transparent;
        }
        
    }
}


@media screen and (max-width:768px){
    .filter{
        margin: 0 -10px;
        &__content{
            overflow-x: auto;
            display: flex;
            padding: 0 10px;
            &::-webkit-scrollbar{
                display: none!important;
            }
            height: fit-content;
        }
        &__row{
            flex-wrap: nowrap;

            flex-shrink: 0;
            overflow: auto;
            gap: 8px;
           
        }
    }
   
}